NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=J4toVdS11NHqtlWUwoDiHulzd2YyK-mYS7HxQzuOurA
NEXT_PUBLIC_YANDEX_SITE_VERIFICATION=31ab4f299bc6b423
NEXT_PUBLIC_BING_SITE_VERIFICATION=
NEXT_PUBLIC_ADS_ENABLED=false
